body {
    margin: 10px;
    padding: 10px;
    
}

main {
    border: 5px solid goldenrod;
    padding: 10px;
}

nav {
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: .5%;
    border: 5px solid rgb(42, 36, 83);
    vertical-align: middle;
}

header {
    text-align: center;
    margin: 0px 0px 20px 0px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 153, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

h2 {
    text-align: center;
}

.image {
    float: left;
    border: 3px solid rgb(255, 255, 255);
}
