.h1 {
    text-align: left;
}

.nav {
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: .5%;
    border: 5px solid rgb(42, 36, 83);
    vertical-align: middle;
}

.container {
    border: 5px solid white;
    margin: auto;
    padding: 1%;
    width: 25%;
    background: rgb(42, 36, 83);
    }

.container_image {
    width: 100%;
    margin: auto;
    }

.container_ui {
    width: 100%;
}

.container_description {
    color: white;
    background-color: darkslateblue;
    padding: 2%;
}

.footer {
    background:rgb(42, 36, 83);
    width: auto;
    bottom: 0;
    padding: 1%;
    border: 5px solid white ;
    margin: 50px 0px 0px 0px;
}